.first_div>img {
    filter: grayscale(1);
}

.first_div>img:hover {
    filter: grayscale(0);
}

.first_div>p {
    font-family: monospace;
    font-size: 16px;
}

h1, h2:active {
    color: rgb(102, 102, 244);
    background-color: rgb(192, 192, 246);
}

.second_p, .third_p {
    box-shadow: 2px 2px 10px blueviolet;
    border-radius: 2px;
    padding: 2px;
}

.second_div iframe:hover {
    box-shadow: 1px 1px 10px green;
}

.third_div iframe:hover {
    box-shadow: -3px 3px 5px purple;
}

#almost_the_end+p {
    text-align: center;
}

#almost_there+p {
    text-align: end;
}

.title~p {
    color: rgb(128, 255, 0);
}

.the_end~p {
    box-shadow: 5px 5px 5px black;
}